RewriteEngine On

# Redirigir todo el tráfico HTTP a HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# No reescribir archivos o carpetas reales
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todas las rutas no existentes van a index.php
RewriteRule ^ index.php [L,QSA]
